<md-dialog aria-label="List dialog" style="height:50%;width:60%" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<span flex>
				<h2>Join a team</h2>
			</span>
			<md-button class="md-icon-button" ng-click="closeDialog()">
				<md-icon aria-label="Close dialog">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
		<p>In order to join a team, you can do it in to ways:</p>
			<div layout="row">
				<div flex style="margin-right:2em">
					<p>If you know the team password, you can join directly by filling this form:</p>
					<div layout="row">
						<md-input-container flex style="margin:0">
							<label>Team name</label>
							<input ng-model="team.name">
						</md-input-container>
						<md-input-container flex style="margin:0">
							<label>Password</label>
							<input ng-model="team.password" type="password">
						</md-input-container>
					</div>
					<div>
						<md-button class="md-primary md-raised" ng-click="joinTeam(team)">
							Join
						</md-button>
					</div>
				</div>
				<div flex="40">
					<p>If you don't know the team password, you can send a petition to the
					team:</p>
					<md-input-container style="width:100%;margin:0">
						<label>Team name</label>
						<input ng-model="teamRequested">
					</md-input-container>
					<div>
							<md-button class="md-primary md-raised" style="margin:0" ng-click="teamJoinRequest(teamRequested)">
								Send petition
							</md-button>
					</div>	
				</div>
			</div>
		</div>
	</md-dialog-content>
</md-dialog>