<md-dialog aria-label="List dialog" ng-cloak flex="50">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Login</h2>
			<span flex></span>
			<md-button ng-click="closeDialog()" class="md-icon-button">
				<md-icon aria-label="Close dialog">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<div id="forgotPassword" layout="column" ng-cloak class="md-inline-form" style="display:none">
				Please, write your email in order to change your password.
				<md-input-container class="md-icon-float md-block">
						<label>Email</label>
						<md-icon aria-label="Email" class="blue">person</md-icon>
						<input ng-model="emailForget">
				</md-input-container>
			</div>
			<div id="loginForm" layout="column" ng-cloak class="md-inline-form">
					<md-input-container class="md-icon-float md-block">
						<label>Username</label>
						<md-icon aria-label="Name" class="blue">person</md-icon>
						<input ng-model="userName" id="nameField">
					</md-input-container>
					<md-input-container>
						<label>Password</label>
						<md-icon aria-label="vpn_key" class="blue">vpn_key</md-icon>
						<input type="password" ng-model="password" id="passwordField">
					</md-input-container>
				<div>Did you forget your password?, click <a href="" ng-click="forgotPassword()" id="linkunderline">here</a>.</div>
				<div>
					Are you new?
					<md-button id="registerbutton" ng-click="goRegistration()">Register</md-button>
				</div>
			</div>
		</div>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button id="loginSubmitButton" class="md-raised md-primary" ng-click="login()">
			Login
		</md-button>
		<md-button id="forgotPasswordSendButton" class="md-raised md-primary" style="display:none" ng-click="sendForgetPassword()">
			Send
		</md-button>
		<md-button ng-click="closeDialog()" class="md-primary">
			Cancel
		</md-button>
	</md-dialog-actions>
</md-dialog>