<md-dialog aria-label="List dialog" ng-cloak flex="50">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Login</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon aria-label="Close dialog">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<div layout="column" ng-cloak class="md-inline-form">
				<md-input-container class="md-icon-float md-block">
					<label>Username</label>
					<md-icon aria-label="Name" style="color: blue;">person</md-icon>
					<input ng-model="userName">
				</md-input-container>
				<md-input-container>
					<label>Password</label>
					<md-icon aria-label="vpn_key" style="color: blue;">vpn_key</md-icon>
					<input type="password" ng-model="password">
				</md-input-container>
				<div>
					Are you new?
					<md-button style="background-color:purple" ng-click="goRegistration()">Register</md-button>
				</div>
			</div>
		</div>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button style="background-color:greenyellow" ng-click="login()">
			Login
		</md-button>
		<md-button ng-click="closeDialog()" class="md-primary">
			Cancel
		</md-button>
	</md-dialog-actions>
</md-dialog>