<md-dialog aria-label="List dialog" ng-cloak flex="50">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<span flex><h2>New room</h2></span>
			<md-button class="md-icon-button" ng-click="closeDialog()">
				<md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<md-input-container class="md-icon-float md-block">
				<label>Room name</label>
				<md-icon aria-label="Name" class="material-icons" style="color: blue;">library_add</md-icon>
				<input ng-model="roomInput.name">
			</md-input-container>
			<md-checkbox ng-model="roomInput.privateRoom" aria-label="Private">
				Private
			</md-checkbox>
		</div>
		<md-dialog-actions>
			<md-button class="md-primary md-raised" ng-click="newRoom(newRoom)">
				Create
			</md-button>
			<md-button ng-click="closeDialog()" class="md-primary">
				Cancel
			</md-button>
		</md-dialog-actions>
	</md-dialog-content>
</md-dialog>