<md-dialog aria-label="List dialog" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<span flex>
				<h2>Invite people</h2>
			</span>
			<md-button class="md-icon-button" ng-click="closeDialog()">
				<md-icon aria-label="Close dialog">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			Select the member of your team you want to invite to the room.
			<div class="autocomplete" flex>
				<md-autocomplete
				    md-no-cache="noCache"
				    md-selected-item="userInvited"
					md-search-text-change="searchTextChange(searchText)"
					md-search-text="searchText"
					md-selected-item-change="selectedItemChange(member.user)"
					md-items="member in querySearch(searchText)"
					md-item-text="member.user.name"
					md-min-length="0"
					placeholder="Select a member of your team">
					<md-item-template>
						<span md-highlight-text="searchText" md-highlight-flags="^i">{{member.user.name}}</span>
					</md-item-template>
					<md-not-found>
						<span ng-show="searchText==''">
							Please, select a member of your team
						</span>
						<span ng-hide="searchText==''">
							There's no user with the name "{{searchText}}".
						</span>
					</md-not-found>
				</md-autocomplete>
			</div>								
			<md-button class="md-raised md-primary" ng-click="inviteUser()">Invite</md-button>
		</div>
	</md-dialog-content>
</md-dialog>