<md-dialog aria-label="List dialog" style="height:100%;width:100%" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<span flex>
				<h2>Invite people</h2>
			</span>
			<md-button class="md-icon-button" ng-click="closeDialog()">
				<md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			Invite people to the room!
			<div>
				<md-list-item ng-click="" class="md-2-line" ng-repeat="user in notMembers()">
					<div class="md-list-item-text">
						<p>{{findUserById(user.user).name}}</p>
						<md-icon ng-click="inviteUser(user.user, $event)" aria-label="Invite user" class="material-icons md-secondary md-hue-3" style="color: blue;">add</md-icon>
					</div>
				</md-list-item>
			</div>
		</div>
	</md-dialog-content>
</md-dialog>