<md-dialog aria-label="List dialog" ng-cloak flex="50">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<span flex>
				<h2>Delete team</h2>
			</span>
			<md-button class="md-icon-button" ng-click="closeDialog()">
				<md-icon aria-label="Close dialog">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			Are you sure you want to delete the team <b>{{teamDelete.name}}</b>?
		</div>
		<md-dialog-actions>
			<md-button class="md-raised md-warn" ng-click="deleteTeam()">
				Delete
			</md-button>
			<md-button ng-click="closeDialog()" class="md-primary">
				Cancel
			</md-button>
		</md-dialog-actions>
	</md-dialog-content>		
</md-dialog>