<div layout="row">
	<div style="position:absolute;right:1em;top:1em;z-index:999">
		<a href="#/">
			<md-button class="md-raised md-primary">
				Volver
			</md-button>
		</a>
	</div>
	<nav class="cd-side-nav" id="sidenav" flex="15">
				<ul>
					<li class="cd-label">{{team.name}}</li>
					<li id="welcomePageButton" class="overview active">
						<a>Home</a>
					</li>
				</ul>
				<ul>
					<li class="cd-label">Perseus administration</li>				
					<li id="usersButton" class="users" ng-click="section='users'">
						<a>Users</a>
					</li>
					<li id="teamsButton" class="images" ng-click="section='teams'">
						<a>Teams</a>
					</li>
				</ul>
				<div style="position:absolute;bottom:0px;color:white;">Perseus</div>
	</nav>
	
	<div flex style="position:relative">
		<md-button style="position:absolute" id="sidenavButton" class="md-icon-button launch">
			<md-icon>
				menu
			</md-icon>
			<md-tooltip>
				Menu
			</md-tooltip>
		</md-button>
		<div layout="row" style="width:75%;margin:auto;">
			<h1>Perseus - {{section}}</h1>
	</div>
		<div style="width:75%;margin:auto;background-color:white" class="md-whiteframe-3dp">
			<div id="welcomePage" style="padding:1em">
				<h2>Welcome to the Perseus admin panel</h2>
				<p>Release v2.0 functionality:</p>
				<ul>
					<li>Remove users</li>
					<li>Remove teams</li>
				</ul>
			</div>
			<div id="users" style="display:none">
				<div style="padding:1em" ng-show="users.length==1">
					You are the only member of <b>Perseus</b>.
				</div>
				<md-table-container ng-show="users.length>1" style="max-height: 45em; overflow-y:auto; overflow-x: hidden;">
					<table md-table>
						<thead md-head>
							<th md-column>Image</th>
							<th md-column>Name</th>
							<th md-column>Email</th>
							<th md-column>Delete</th>
					    </thead>
					    <tbody md-body>
					    	<tr md-row md-select="member" md-auto-select ng-repeat="user in users" ng-hide="user.privileges>0">
							    <td md-cell>
							    	<md-list-item>
							    		<img data-ng-src="{{getImage(user.image, user.imageType)}}" class="md-avatar"/> 
							    	</md-list-item>
							    	
							    </td>
							    <td md-cell>{{user.name}}</td>
							    <td md-cell>{{user.email}}</td>
						        <td md-cell>
									<md-button class="md-icon-button" ng-click="deleteUser(user, $event)" title="Delete user" aria-label="Deny">
										<md-icon style="color:red">cancel</md-icon>
									</md-button>
			     				</td>
						    </tr>
						</tbody>
					</table>
				</md-table-container>
			</div>
			<div id="teams" style="display:none">
				<div style="padding:1em" ng-show="teams.length==0">
					There are no teams registered in <b>Perseus</b>.
				</div>
				<md-table-container ng-show="teams.length>0" style="max-height: 45em; overflow-y:auto; overflow-x: hidden;">
					<table md-table>
						<thead md-head>
							<th md-column>Image</th>
							<th md-column>Name</th>
							<th md-column>Delete</th>
					    </thead>
					    <tbody md-body>
					    	<tr md-row md-select="member" md-select-id="{{team.name}}" md-auto-select ng-repeat="team in teams">
							    <td md-cell>
							    	<md-list-item>
							    		<img data-ng-src="{{getImage(team.image, team.imageType)}}" class="md-avatar" style="border-radius:0"/>
							    	</md-list-item>
							    </td>
							    <td md-cell>{{team.name}}</td>
						        <td md-cell>
									<md-button class="md-icon-button" ng-click="deleteTeam(team, $event)" title="Delete team" aria-label="Deny">
										<md-icon style="color:red">cancel</md-icon>
									</md-button>
			     				</td>
						    </tr>
						</tbody>
					</table>
				</md-table-container>
			</div>
			<div id="files" style="display:none;padding:1em">
				This functionality will be added soon.
			</div>
		</div>
	</div>
</div>