<button class="btn btn--xl btn--red btn--fab mdi mdi-exit-to-app"  ng-click="exit()" title="Go to main page" style="position:absolute;z-index:1; right:40px;top:16px;"></button>	
<div class="join" style="margin-top:100px">
<div class="fs-display-3 tc-purple-500 display-block">
    	<b>Administration</b>    	
    </div>
 <div class="card" id="centraldiv" style="padding:0px">
<div ng-show="user.privileges>0">
<div class="card">
    <lx-tabs>
        <lx-tab heading="Users">
           		<div style="height: 27em; width:100%; overflow: scroll;overflow-x:hidden">
           			<ul class="list">
	           			<li ng-repeat="user in users" class="list-row list-row--has-separator data-table__clickable-row">
			                <div class="list-row__primary" style="width:auto">
			                	<a style="text-decoration:none; color:inherit" href="#/user/{{user.id}}" ng-bind="user.name"></a>
			                </div>
			                
				            <div class="list-row__content">
				               	<a href="#/user/{{user.id}}" style="display:block; text-decoration:none;color:inherit">
				                   	<span ng-bind="user.email"></span>
				                </a>
				            </div>
			                
			                <div class="list-row__primary" style="position:absolute;right:0px" ng-hide="user.name=='admin'">
		                		<i ng-click="openDeleteUser(user)" class="icon icon--s icon--red icon--flat mdi mdi-close-circle"></i>
		           		    </div>
			            </li>
           			</ul>
				</div>
        </lx-tab>

        <lx-tab heading="Teams">
        	<div style="height: 27em; width:100%; overflow: scroll;overflow-x:hidden">
           			<ul class="list">
	           			<li ng-repeat="team in teams"  class="list-row list-row--has-separator data-table__clickable-row">
			                <div class="list-row__primary" style="width:auto">
			                	<a href="#/team/{{team.id}}" style="text-decoration:none;color:inherit">
				                   	<span ng-bind="team.name"></span>
				                </a>
			                </div>
			                <div class="list-row__content" style="text-align:center">
			                	<a href="#/team/{{team.id}}" style="margin-right:0px;display:block; text-decoration:none;color:inherit">
				                	{{(participates | filter: {idteam: team.id}).length}} members
				                </a>
			                </div>
			                <div class="list-row__primary" style="position:absolute;right:0px">
		                		<i ng-click="openDeleteTeam(team)" class="icon icon--s icon--red icon--flat mdi mdi-close-circle"></i>
		           		    </div>
			            </li>
           			</ul>            
        	</div>
        </lx-tab>
    </lx-tabs>
</div>
<lx-dialog class="dialog dialog--l" id="deleteUser" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">	
	<div class="card bgc-red-500 tc-white-1 p">
		<b>Delete user</b>			
	</div>
   	<div class="p++">
		Are you sure you want to this user?
		<div class="dialog__actions">
			<button class="btn btn--m btn--blue btn--raised" lx-ripple lx-dialog-close>Cancel</button>
 			<button ng-click="deleteUser()" class="btn btn--m btn--red btn--raised" lx-ripple lx-dialog-close>Delete user</button>
		</div>
	</div>		
</lx-dialog>

<lx-dialog class="dialog dialog--l" id="deleteTeam" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">	
	<div class="card bgc-red-500 tc-white-1 p">
		<b>Delete team</b>			
	</div>
   	<div class="p++">
		Are you sure you want to leave this team?
		<div class="dialog__actions">
			<button class="btn btn--m btn--blue btn--raised" lx-ripple lx-dialog-close>Cancel</button>
			<button ng-click="deleteTeam()" class="btn btn--m btn--red btn--raised" lx-ripple lx-dialog-close>Delete team</button>
		</div>
	</div>		
</lx-dialog>

</div>

<div ng-hide="user.privileges>0">
	You haven't the privileges to enter this page.
</div>
</div>
</div>
