<form role="form" ng-submit="newTeam(Team)" accept-charset="UTF-8" class="md-inline-form">
	<md-input-container class="md-icon-float md-block">
	    <label>Name</label>
	    <md-icon aria-label="Name" class="material-icons" style="color: blue;">person</md-icon>
	    <input ng-model="Team.name">
	</md-input-container>
	<md-input-container class="md-icon-float md-block">
	    <label>Password</label>
	    <md-icon aria-label="Password" class="material-icons" style="color: blue;">vpn_key</md-icon>
	    <input type="password" ng-model="Team.password">
	</md-input-container>
	<md-input-container class="md-icon-float md-block">
	    <label>Password</label>
	    <md-icon aria-label="Password" class="material-icons" style="color: blue;">vpn_key</md-icon>
	    <input type="password" ng-model="password">
	</md-input-container>
	<md-button class="md-raised md-primary" type="submit">Create</md-button>
</form>
