<div class="team relative nopadding" layout="row" ng-show="member || user.privileges>0">
	<nav class="cd-side-nav" id="sidenav" style="display:none;position:absolute">
		<ul class="relative">
			<md-icon class="sidenavButton white absolute closesidenavicon">
				close
			</md-icon>
			<li class="cd-label">{{team.name}}</li>
			<li id="homeButton" class="active overview">
				<a>Home</a>
			</li>
			<li id="notificationsMenu" ng-click="showNotifications('notifications')" class="notifications">
				<a>Notifications<span ng-show="roomInvitations().length+roomRequests().length+requests().length>0" class="count">{{roomInvitations().length+roomRequests().length+requests().length}}</span></a>
			</li>
			<li id="privateMessagesButton" class="comments">
				<a>Private Messages</a>
			</li>
		</ul>
		<ul>
			<li class="cd-label">Secondary</li>				
			<li class="bookmarks" ng-show="user.privileges>0 || participateUser.teamPrivileges==2">
				<a ng-href="#/team/{{team.id}}/admin">Admin</a>
			</li>
			<li class="has-children users" id="membershipToggle">
				<a>Membership</a>
				<ul style="display:none" id="membershipMenu">
					<li><a ng-click="leaveTeam($event)" href="">Leave the team</a></li>
				</ul>
			</li>
		</ul>
		<ul ng-show="participateUser().teamPrivileges>0">
			<li class="cd-label">Action</li>
			<li class="action-btn"><a id="inviteButton" ng-click="invitePeople($event)">+ Invite people</a></li>
		</ul>
		<img src="/././img/perseuslogo-team.png" class="perseuslogo">
	</nav>
  	<div id="enablenotifications" ng-show="showNotificationTop()" align="center" class="absolute pointer" style="z-index:999;width:100%;height:auto;">
		<div class="white" style="text-decoration:none;border-style:solid;border-width:1px;border-top:none;display: inline-block;background-color:orange;">
			<a class="md-caption white" ng-click="enableNotifications()">
				You have the notifications turned off, if you want to see the notifications for a better experience, click here.
			</a>
				<md-icon ng-click="closeEnableNotifications()">close</md-icon>
  		</div>
  	</div>
  	<div flex="15" hide-xs layout="column" class="md-whiteframe-z2 relative sidemenu">
	   <div align="center" class="smallpadding">
	  	 <img data-ng-src="{{getImage(team.image, team.imageType)}}" class="mainimage" alt="{{team.name}}"/> 
	   		<h1 class="md-title"><b>{{team.name}}</b></h1>
	   </div>
	   <div layout="row" class="greybackground">
		   <div flex class="white" id="roomsheader">
				<h3 class="normalfont"><b>Rooms</b></h3>
		   </div>
	       <div flex="1">
	        <md-button class="md-icon-button launch" ng-click="newRoom($event)">
		        <md-icon class="white">
			    	add
			    </md-icon>
			    <md-tooltip>
		        	New room
		    	</md-tooltip>
	        </md-button>  
	      </div>
        </div>
	      <div class="md-no-sticky lightbluebackground pointer" id="publicroomsbutton" style="padding:1em;padding-left:2em;border-bottom-style:solid;border-bottom-width:1px">Public rooms ({{publicRooms().length}})</div>
		   <div id="publicrooms" class="whitebackground" style="display:none;max-height: 15em; overflow-y:auto; overflow-x: hidden;">
			  <md-list-item ng-click="register(room, $event)" ng-repeat="room in publicRooms() track by $index" ng-mouseover="showPublicRoomButtons($index)" ng-mouseleave="hidePublicRoomButtons($index)">
				    <p>{{ room.name }}</p>
			   		<md-icon id="{{$index}}_public" ng-click="deleteRoom(room, $event)" aria-label="Delete room" class="md-secondary md-hue-3 red" style="display:none;color:red" ng-show="user.privileges>0 || participateUser.teamPrivileges>0 || room.creator==user.id">clear</md-icon>
				  	<md-divider ng-if="!$last"></md-divider>
			  </md-list-item>
		  </div>
		  <div class="md-no-sticky lightbluebackground pointer" id="privateroomsbutton" style="padding:1em;padding-left:2em;border-bottom-style:solid;border-bottom-width:1px">Private rooms ({{privateRooms().length}})</div>
		  <div id="privaterooms" class="whitebackground" style="display:none;max-height: 15em; overflow-y:auto; overflow-x: hidden;">
			  <md-list-item ng-click="register(room, $event)" ng-repeat="room in privateRooms() track by $index" ng-mouseover="showPrivateRoomButtons($index)" ng-mouseleave="hidePrivateRoomButtons($index)">
				    <p>{{ room.name }}</p>
			   		<md-icon id="{{$index}}_private" ng-click="deleteRoom(room, $event)" aria-label="Delete room" class="md-secondary md-hue-3 red" style="display:none;" ng-show="user.privileges>0 || participateUser.teamPrivileges>0 || room.creator==user.id">clear</md-icon>
				  	<md-divider ng-if="!$last"></md-divider>
			  </md-list-item>
		  </div>
		  
	  	<div class="md-no-sticky lightbluebackground pointer" id="onlinemembersbutton" style="padding:1em;padding-left:2em;border-bottom-style:solid;border-bottom-width:1px;">Members ({{teamUsers.length}})</div>
		  <div id="onlinemembers" class="whitebackground" style="padding:1em;display:none;border-bottom-style:solid;border-bottom-width:1px;max-height: 15em; overflow-y:auto; overflow-x: hidden;">
			  <ul>
				  <li class="md-body-2" ng-repeat="participate in teamUsers">
				         {{participate.user.name}}
			      </li>
		      </ul>
	      </div>
	      <img src="/././img/perseuslogo-team.png" class="perseuslogo">
  </div>
  <div class="absolute" id="topicons">
   			<md-button class="md-icon-button launch" ng-click="showNotifications('mentions')">
  				<md-icon>
  					contact_mail
  				</md-icon>
  				<md-tooltip>
					Mentions
				</md-tooltip>
  			</md-button>
  			<md-button id="teamMenuButton" class="md-icon-button launch sidenavButton">
  				<md-icon>
  					menu
  				</md-icon>
  				<md-tooltip>
					Menu
				</md-tooltip>
  			</md-button>
  			<md-menu>		
				<md-button class="md-icon-button" ng-click="$mdOpenMenu()">
			    	<md-icon md-menu-origin>
			    		more_vert
			    	</md-icon>
			    	<md-tooltip>
						Menu
					</md-tooltip>
				</md-button>
				<md-menu-content width="1">
					<md-menu-item>
							<md-button ng-click="goToMainPage()">Main page</md-button>
					</md-menu-item>
					<md-menu-item>
						<md-button ng-click="logout()">Logout</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
	</div>
  <div flex layout="column" class="window md-whiteframe-3dp relative whitebackground" style="margin:3%;margin-top:4em;height:85vh">
  		<div id="privateMessages" class="relative nopadding fullheight" flex style="display:none">
  		<div flex="1" class="absolute">
			<md-button class="md-icon-button launch" id="toggleConversations">
				<md-icon>
					menu
				</md-icon>
				<md-tooltip>
					Minimize/maximize
				</md-tooltip>
			</md-button>
		</div>
  			<div layout="row" class="fullheight">
	  			<div flex="25" id="lastconversations" style="border-right-style:solid;border-right-width:1px;border-right-color:gray;max-height: 90vh; overflow-y:auto; overflow-x: hidden">
	  				<div layout="row">
					   <div hide-xs hide-sm flex style="padding:1em;padding-left:5em">
					   	<h3>Last conversations</h3>
					   </div>
				       <div flex align="right">
				        <md-button class="md-icon-button launch floatright nopadding nomargin" id="newPrivateMessage">
					        <md-icon>
						    	add
						    </md-icon>
						    <md-tooltip>
					        	New conversation
					    	</md-tooltip>
				        </md-button>  
				      </div>
			        </div>
			        <div style="max-height: 80vh;  overflow-y: auto; overflow-x: hidden;">
	  				<md-list-item ng-repeat="user in filterMessagesContacts()" ng-click="showUserMessages(user.id)">
		  				 <md-list-item>
			  				 <img hide-xs hide-sm data-ng-src="{{getImage(user.image, user.imageType)}}" class="md-avatar" alt="{{user.id}}" />
			  				 <div class="md-list-item-text">
			  				 	{{user.name}}
			  				 </div>
					      	<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
	  				</md-list-item>
	  				</div>
	  			</div>
	  			<div flex class="fullheight">	  				
						<div id="newchatform">						
							<form style="margin-top: 25%;" autocomplete="off" ng-submit="newPrivateMessage()">
								    <div style="margin:auto;width:75%">
								    	<h2>New private message</h2>
								    </div>
								    <div layout="row" style="margin:auto;width:75%;">
									    <div flex class="autocomplete">
										    <md-autocomplete
										        md-no-cache="noCache"
										        md-selected-item="receiver"
										        md-search-text-change="searchTextChange(searchText)"
										        md-search-text="searchText"
										        md-selected-item-change="selectedItemChange(user)"
										        md-items="participate in querySearch(searchText)"
										        md-item-text="participate.user.name"
										        md-min-length="0"
										        placeholder="Select a member of your team">
										       	<md-item-template>
										        	<span md-highlight-text="searchText" md-highlight-flags="^i">{{participate.user.name}}</span>
										        </md-item-template>
										        <md-not-found>
										          <span ng-show="searchText==''">
										          		Please, select a member of your team
										          </span>
										          <span ng-hide="searchText==''">
										          		There's no user with the name "{{searchText}}".
										          </span>
										        </md-not-found>
											</md-autocomplete>
										</div>
									</div>
									<div class="relative" id="privatemessagebutton">
										<md-button ng-click="showUserMessages(receiver.user.id)" class="md-primary md-raised floatright">GO</md-button>
									</div>	
						</form>	  	
					</div>			
	  				<div id="privateChat" style="display:none" class="fullheight" layout="column">
		  				<div id="privateChatScroll" flex style="max-height: 75vh; overflow: scroll; overflow-x: hidden;">
				  			<div class="smallpadding">
			 					<h3 class="normalfont"><b>{{receiver.user.name}}</b></h3>
			 				</div>
				  			<md-list-item ng-repeat="message in privateMessagesChat()">
									     <md-list-item>
									     <a href="#/user/{{message.transmitter}}">
									     <img data-ng-src="{{getImage(message.transmitter.image, message.transmitter.imageType)}}"  class="md-avatar" alt="{{message.user.name}}" />
										      </a>
										      <div class="md-list-item-text">
										         <a class="blue">{{message.transmitter.name}}</a>
										         <p>
										         	<div ng-bind-html="message.text | colonToSmiley"></div>
										         </p>
										         <div class="md-caption timeago">
										      	{{message.date | timeago}}
										      </div>
										       </div>
										       <md-divider ng-if="!$last"></md-divider>
									      </md-list-item>
							 </md-list-item>
						 </div>
					</div>		
	  			</div>
  			</div>			  			
  		</div>
  		<div id="chat" flex layout="column" class="relative nopadding">
			<div flex="1" class="relative">
			 			<div class="floatleft" style="padding:1em">
			 				<h3 class="normalfont">Team chat</h3>
			 			</div>
			 			<div class="floatright">
							 	<input style="display:none" id="filtername" type="text" ng-model="nameFilter">
							 	<input style="display:none" id="filtercontent" type="text" ng-model="contentFilter">
							 	<md-datepicker style="display:none" id="filterdate" ng-model="dateFilter" md-placeholder="Enter date"></md-datepicker>
							 	<md-button ng-click="searchByFilter()" id="searchFilter" class="md-primary md-raised" style="display:none">Search</md-button>		
							 	<md-button ng-click="resetFilter()" ng-show="chatFilter!=''" class="md-raised">Reset</md-button>
		  						<md-menu>
							        <md-button class="md-icon-button" ng-click="$mdOpenMenu()">
							            <md-icon md-menu-origin>
							            	search
							            </md-icon>
							            <md-tooltip>
											Search messages
										</md-tooltip>		            
							        </md-button>
							        <md-menu-content width="1">
							            <md-menu-item>
							                <md-button ng-click="showFilterName()">Name</md-button>
							            </md-menu-item>
							            <md-menu-item>
							                <md-button ng-click="showFilterDate()">Date</md-button>
							            </md-menu-item>
							            <md-menu-item>
							                <md-button ng-click="showFilterContent()">Content</md-button>
							            </md-menu-item>
							        </md-menu-content>
							    </md-menu>
						</div>
				</div>
			    <div flex id="globalchatscroll" style="max-height: 75vh; overflow: scroll; overflow-x: hidden;">
			    			<md-list-item ng-repeat="message in chatMessages() | filter:filterMessages" class="relative">
						     	<a href="#/user/{{message.user}}">
						     	<img data-ng-src="{{getImage(message.user.image, message.user.imageType)}}" class="md-avatar"/>
							     </a>
							      <div class="md-list-item-text nodecoration">
							        <a href="#/user/{{message.user}}">{{message.user.name}}</a>
							         <p>		
							         	<span class="md-body-2">
							         	<div ng-bind-html="message.text | colonToSmiley"></div>
							         	</span>
							         </p>
							      </div>
							      <div class="md-caption timeago">
							      	{{message.date | timeago}}
							      </div>
							      <md-divider ng-if="!$last"></md-divider>
						</md-list-item>	
				</div>
			   		
  			</div>
  			<div flex="1" id="chatformcontainer">
  				<form id="chatform" emoji-form emoji-message="emojiMessage" layout="row" autocomplete="off" ng-submit="sendMessage()" style="margin-bottom:0px;padding:5px;background-color:#f5f5f5">
					<md-button id="emojibtn"class="md-icon-button launch" >
				  		<md-icon>
							tag_faces
						</md-icon>
						<md-tooltip>
							Send emoticon
						</md-tooltip>
				   	</md-button>
				   	<textarea mentio mentio-typed-term='typedTerm' mentio-require-leading-space='true' id="inputchat" flex class="whitebackground" ng-model="chatMessage" placeholder="New message" ></textarea>
					<mentio-menu ng-if="index"
						mentio-for="'inputchat'"
					    mentio-template-url="mentio-menu.tpl.html"
					    mentio-trigger-char="'@'"
					    mentio-items="people"
					    mentio-search="searchPeople(term)"
					    mentio-select="getPeopleText(item)"
					></mentio-menu>
					<md-button type="submit" class="md-icon-button launch" id="submitMessageButton">
				    	<md-icon>
							send
						</md-icon>
						<md-tooltip>
							Send message
						</md-tooltip>
				     </md-button>												
				</form>
			</div>
		</div>
		<md-sidenav class="md-sidenav-right md-whiteframe-z2 sidebackground" md-component-id="notifications" style="width:60vh">
		      <div style="position:relative;padding:1em;background-color:#737373;">
		        <h2 class="white">Notifications</h2>
		         <md-button id="closerightnav1" ng-click="close('notifications')" class="md-icon-button launch absolute">
		          <md-icon class="white">
		          	forward
		          </md-icon>
		        </md-button>
		      </div>
		      <md-tabs class="md-primary">
		      <md-tab id="tab1">
		        <md-tab-label>Invites</md-tab-label>
		        <md-tab-body>
		 			<div id="notifications1">
		 					<div ng-show="roomInvitations().length==0" align="center" style="padding:1em" class="md-whiteframe-z2 whitebackground">
		 						You have no invitations
		 					</div>
							<md-table-container ng-hide="roomInvitations().length==0" class="md-whiteframe-z2 whitebackground">
							  <table md-table>
							    <thead md-head>
							      <th md-column>Room</th>
							      <th md-column>Member</th>
							      <th md-column>Accept</th>
							      <th md-column>Deny</th>
							    </thead>
							    <tbody md-body>
							      <tr md-row md-select="invitation" md-select-id="{{invitation.name}}" md-auto-select ng-repeat="invitation in roomInvitations()">
							        <td md-cell>{{invitation.room.name}}</td>
							        <td md-cell>{{invitation.user.name}}</td>
							        <td md-cell>
							        	<md-button class="md-icon-button" ng-click="acceptRoomInvitation(invitation)" title="Accept request" aria-label="Accept">
			    							<md-icon class="green">check_circle</md-icon>
			    						</md-button>
							        </td>
							        <td md-cell>
							        	<md-button class="md-icon-button" ng-click="denyRoomInvitation(invitation)" title="Deny request" aria-label="Deny">
			     							<md-icon class="red">cancel</md-icon>
			     						</md-button>
			     					</td>
							      </tr>
							    </tbody>
							  </table>
							</md-table-container>
						</div>	
		        </md-tab-body>
		      </md-tab>
			  <md-tab id="tab2" data-ng-if="user.privileges>0 || participateUser.teamPrivileges>0">
			       <md-tab-label>Team</md-tab-label>
			       <md-tab-body>
			       	<div id="notifications2">
			 			<div ng-show="requests().length==0" align="center" style="padding:1em" class="md-whiteframe-z2 whitebackground">
			 						There's no pending team requests
			 			</div>
				 		<md-table-container ng-hide="requests().length==0" class="md-whiteframe-z2 whitebackground">
							<table md-table>
								<thead md-head>
								      <th md-column>User</th>
								      <th md-column>Accept</th>
								      <th md-column>Deny</th>
								    </thead>
								    <tbody md-body>
									      <tr md-row md-select="request" md-select-id="{{request.name}}" md-auto-select ng-repeat="request in requests()">
									        <td md-cell>{{request.user.name}}</td>
									        <td md-cell>
									        	<md-button class="md-icon-button" ng-click="acceptRequest(request)" title="Accept request" aria-label="Accept">
						    						<md-icon class="green">check_circle</md-icon>
						    					</md-button>
									        </td>
									        <td md-cell>
									        	<md-button class="md-icon-button" ng-click="denyRequest(request)" title="Deny request" aria-label="Deny">
						     						<md-icon class="red">cancel</md-icon>
						     					</md-button>
						     				</td>
									      </tr>
								    </tbody>
								  </table>
								</md-table-container>
							</div>
		        </md-tab-body>
		      </md-tab>
		      <md-tab id="tab3">
		        <md-tab-label>Rooms</md-tab-label>
		        <md-tab-body>        
						<div id="notifications3">
							<div ng-show="roomRequests().length==0" align="center" style="padding:1em" class="md-whiteframe-z2 whitebackground">
		 						You have no pending room requests
		 					</div>
							<md-table-container ng-hide="roomRequests().length==0" class="md-whiteframe-z2 whitebackground">
							  <table md-table>
							    <thead md-head>
							      <th md-column>Room</th>
							      <th md-column>Member</th>
							      <th md-column>Accept</th>
							      <th md-column>Deny</th>
							    </thead>
							    <tbody md-body>
								      <tr md-row md-select="request" md-select-id="{{request.name}}" md-auto-select ng-repeat="request in roomRequests()">
								        <td md-cell>{{request.room.name}}</td>
								        <td md-cell>{{request.user.name}}</td>
								        <td md-cell>
								        	<md-button class="md-icon-button" ng-click="acceptRoomRequest(request)" title="Accept request" aria-label="Accept">
				    							<md-icon class="green">check_circle</md-icon>
				    						</md-button>
								        </td>
								        <td md-cell>
								        	<md-button class="md-icon-button" ng-click="denyRoomRequest(request)" title="Deny request" aria-label="Deny">
				     							<md-icon class="red">cancel</md-icon>
				     						</md-button>
				     					</td>
								      </tr>
							    </tbody>
							  </table>
							</md-table-container>
						</div>
		        </md-tab-body>
		      </md-tab>
		    </md-tabs>
		    </md-sidenav>
		     
		     <md-sidenav class="md-sidenav-right sidebackground md-whiteframe-z2" md-component-id="mentions">
		      <div class="relative greybackground" style="padding:1em">
		        <h2 class="white">Mentions</h2>
		         <md-button id="closerightnav1" ng-click="close('mentions')" class="md-icon-button launch">
		          <md-icon class="white">
						forward
		          </md-icon>
		        </md-button>
		      </div>
		      <md-content>
		      <div class="sidebackground" style="padding:1em;">
			      	<div ng-show="(chatMessages() | filter:mentionsFilter).length==0" align="center" style="padding:1em" class="whitebackground md-whiteframe-z2">
						Nobody mentioned you for now
		 			</div>
			      	<div id="mentionlist" class="whitebackground md-whiteframe-z2">
				 		<md-list-item ng-repeat="mention in chatMessages() | filter:mentionsFilter">
				    			<p> <b>{{mention.user.name}}</b></p>
				    			<p>{{mention.text}}</p>
				    			 <md-divider ng-if="!$last"></md-divider>
				 		</md-list-item>
			 		</div>
		 		</div>
		</md-content>
    </md-sidenav>
</div>
<div ng-hide="member || user.privileges>0" id="errorparticipate" align="center">
	<div class="window whitebackground red" align="center">
		<b>You don't participate in this team.</b>
	</div>
</div>