<!-- <style ng-bind-html="chatStyle"></style> Constantly refresh ng-repeat -->
<!-- User message style -->
<div class="team" layout="row" ng-show="member || user.privileges>0"  style="position:relative;padding:0px">
  <nav class="cd-side-nav" id="sidenav" style="position:absolute;z-index:999;width:31vh;display:none">
			<ul style="position:relative">
				<md-icon style="color:white;position:absolute;right:0.5em;cursor:pointer" class="sidenavButton">close</md-icon>
				<li class="cd-label">{{team.name}}</li>
				<li id="homeButton" class="active overview">
					<a>Home</a>
				</li>
				<li id="notificationsMenu" ng-click="showNotifications('notifications')" class="notifications">
					<a>Notifications<span ng-show="roomInvitations().length+roomRequests().length+requests().length>0" class="count">{{roomInvitations().length+roomRequests().length+requests().length}}</span></a>
				</li>

				<li id="privateMessagesButton" class="comments">
					<a>Private Messages</a>
				</li>
			</ul>

			<ul>
				<li class="cd-label">Secondary</li>				
				<li class="bookmarks" ng-show="user.privileges>0 || participateUser.teamPrivileges==2">
					<a ng-href="#/team/{{team.id}}/admin">Admin</a>
				</li>
				<li class="has-children images">
					<a>Files</a>
					
					<ul>
						<li><a href="#0">All Images</a></li>
						<li><a href="#0">Edit Image</a></li>
					</ul>
				</li>
				<li class="users">
					<a>Members</a>
				</li>
				<li class="has-children users" id="membershipToggle">
					<a>Membership</a>
					<ul style="display:none" id="membershipMenu">
						<li id="membershipButton"><a>Your membership</a></li>
						<li><a ng-click="leaveTeam($event)" href="">Leave the team</a></li>
					</ul>
				</li>
			</ul>

			<ul ng-show="participateUser.teamPrivileges>0">
				<li class="cd-label">Action</li>
				<li class="action-btn"><a id="inviteButton" href="#inviteModal">+ Invite people</a></li>
			</ul>
			<div style="position:absolute;bottom:0px;color:white;">Perseus</div>
		</nav>
  
  <div id="enablenotifications" ng-show="showNotificationTop()" style="cursor:pointer;position:absolute;z-index:999;width:100%;height:auto;text-align:center;">
		<div style="border-style:solid;border-width:1px;border-top:none;display: inline-block;background-color:orange;">
			<a class="md-caption" ng-click="enableNotifications()">
				You have the notifications turned off, if you want to see the notifications for a better experience, click here.
			</a>
				<md-icon ng-click="closeEnableNotifications()">close</md-icon>
  		</div>
  </div>
  <div flex="15" layout="column" style="position:relative;height:100vh;background-color:#e6f2ff" class="md-whiteframe-z2">
	   <div style="text-align:center;padding:1em;">
	  	 <img data-ng-src="{{getImage(team.image, team.imageType)}}" style="border-radius:15px;max-width:100%;max-height:100%;" alt="{{team}}"/> 
	   		<h1 class="md-title"><b>{{team.name}}</b></h1>
	   </div>
	   <div layout="row" style="background-color:gray">
		   <div flex style="color:white;padding-left:2em;padding-top:1em">
				<h3 style="font-style:normal"><b>Rooms</b></h3>
		   </div>
	       <div flex="1">
	        <md-button class="md-icon-button launch" ng-click="newRoom($event)">
		        <md-icon style="color:white">
			    	add
			    </md-icon>
			    <md-tooltip>
		        	New room
		    	</md-tooltip>
	        </md-button>  
	      </div>
        </div>
	      <div class="md-no-sticky" id="publicroomsbutton" style="cursor:pointer;padding:1em;padding-left:2em;border-bottom-style:solid;border-bottom-width:1px;background-color:lightblue;">Public rooms ({{publicRooms().length}})</div>
		   <div id="publicrooms" style="background-color:white;display:none;max-height: 15em; overflow-y:auto; overflow-x: hidden;">
			  <md-list-item ng-click="register(room, $event)" ng-repeat="room in publicRooms() track by $index" ng-mouseover="showPublicRoomButtons($index)" ng-mouseleave="hidePublicRoomButtons($index)">
				    <p>{{ room.name }}</p>
			   		<md-icon id="{{$index}}_public" ng-click="deleteRoom(room, $event)" aria-label="Delete room" class="md-secondary md-hue-3" style="color: blue;display:none;" ng-show="user.privileges>0 || participateUser.teamPrivileges>0 || room.creator==user.id">clear</md-icon>
				  	<md-divider ng-if="!$last"></md-divider>
			  </md-list-item>
		  </div>
		  
		  
		  <div class="md-no-sticky" id="privateroomsbutton" style="cursor:pointer;padding:1em;padding-left:2em;border-bottom-style:solid;border-bottom-width:1px;background-color:lightblue;">Private rooms ({{privateRooms().length}})</div>
		  <div id="privaterooms" style="background-color:white;display:none;max-height: 15em; overflow-y:auto; overflow-x: hidden;">
			  <md-list-item ng-click="register(room, $event)" ng-repeat="room in privateRooms() track by $index" ng-mouseover="showPrivateRoomButtons($index)" ng-mouseleave="hidePrivateRoomButtons($index)">
				    <p>{{ room.name }}</p>
			   		<md-icon id="{{$index}}_private" ng-click="deleteRoom(room, $event)" aria-label="Delete room" class="md-secondary md-hue-3" style="color: blue;display:none;" ng-show="user.privileges>0 || participateUser.teamPrivileges>0 || room.creator==user.id">clear</md-icon>
				  	<md-divider ng-if="!$last"></md-divider>
			  </md-list-item>
		  </div>
		  
	  	<div class="md-no-sticky" id="onlinemembersbutton" style="cursor:pointer;padding:1em;padding-left:2em;border-bottom-style:solid;border-bottom-width:1px;background-color:lightblue;">Online members ({{teamUsers.length}})</div>
		  <div id ="onlinemembers" style="background-color:white;padding:1em;display:none;border-bottom-style:solid;border-bottom-width:1px;max-height: 15em; overflow-y:auto; overflow-x: hidden;">
			  <ul>
				  <li class="md-body-2" ng-repeat="participate in teamUsers">
				         {{findUserById(participate.user).name}}
			      </li>
		      </ul>
	      </div>
  </div>
  <div style="text-align:right; position:absolute; right:3%;z-index:1">
  		<input type="text" id="inputsearch" placeholder="Ej: name..." style="display:none">
  			<md-button class="md-icon-button launch" id="search">
				<md-icon>
					search
				</md-icon>
				<md-tooltip>
			    	Search
			   	</md-tooltip>
			</md-button>
   			<md-button class="md-icon-button launch" ng-click="showNotifications('mentions')">
  				<md-icon>
  					contact_mail
  				</md-icon>
  				<md-tooltip>
					Mentions
				</md-tooltip>
  			</md-button>
  			<md-button class="md-icon-button launch sidenavButton">
  				<md-icon>
  					menu
  				</md-icon>
  				<md-tooltip>
					Menu
				</md-tooltip>
  			</md-button>
  			<md-menu>
				<md-button class="md-icon-button" ng-click="$mdOpenMenu()">
			    	<md-icon md-menu-origin>more_vert</md-icon>
				</md-button>
				<md-menu-content width="1">
					<md-menu-item>
						<md-button ng-click="logout()">Logout</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
	</div>
  <div flex style="position:relative;margin:3%;margin-top:4em;height:85vh;background-color:white;border-style:solid;border-width:1px;border-color:#0052cc" class="md-whiteframe-3dp">
  		<div id="privateMessages" style="height:100%;display:none;position:relative;padding:0">
  			<div layout="row" style="height:100%;">
	  			<div flex="25" style="border-right-style:solid;border-right-width:1px;border-right-color:gray;max-height: 90vh; overflow-y:auto; overflow-x: hidden">
	  				<div layout="row">
					   <div flex style="padding: 1em">
							<h2>Last conversations</h2>
					   </div>
				       <div flex="1">
				        <md-button class="md-icon-button launch" id="newPrivateMessage">
					        <md-icon>
						    	add
						    </md-icon>
						    <md-tooltip>
					        	New conversation
					    	</md-tooltip>
				        </md-button>  
				      </div>
			        </div>
			        <div style="max-height: 80vh;  overflow-y: auto; overflow-x: hidden;">
	  				<md-list-item ng-repeat="user in filterMessagesContacts()" ng-click="showUserMessages(user)">
		  				 <md-list-item>
			  				 <img data-ng-src="{{getImage(findUserById(user).image, findUserById(user).imageType)}}" class="md-avatar" alt="{{user.id}}" />
			  				 <div class="md-list-item-text">
			  				 	{{findUserById(user).name}}
			  				 </div>
					      	<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
	  				</md-list-item>
	  				</div>
	  			</div>
	  			<div flex style="height:100%;">	  				
						<!-- 			 <form id="privatechatform" emoji-form emoji-message="emojiMessage2" layout="row" autocomplete="off" ng-submit="replyMessage()" style="margin-bottom:0px;padding:5px;background-color:#f5f5f5"> -->		
						<div  id="newchatform">						
							<form style="margin-top: 25%;"  emoji-message="emojiMessage3" autocomplete="off" ng-submit="newPrivateMessage()">
								    <div style="margin:auto;width:75%">
								    	<h2>New private message</h2>
								    </div>
								    <div layout="row" style="margin:auto;width:75%;">
									    <div flex style="border-style:solid;border-width:1px;border-color:gray;background-color:#f5f5f5;">
										    <md-autocomplete
										        md-no-cache="noCache"
										        md-selected-item="receiver"
										        md-search-text-change="searchTextChange(searchText)"
										        md-search-text="searchText"
										        md-selected-item-change="selectedItemChange(user)"
										        md-items="user in querySearch(searchText)"
										        md-item-text="findUserById(user.user).name"
										        md-min-length="0"
										        placeholder="Select receiver">
										       	<md-item-template>
										        	<span md-highlight-text="searchText" md-highlight-flags="^i">{{findUserById(user.user).name}}</span>
										        </md-item-template>
										        <md-not-found>
										          <span ng-show="searchText==''">
										          		Please, select a member of your team
										          </span>
										          <span ng-hide="searchText==''">
										          		There's no user with the name "{{searchText}}".
										          </span>
										        </md-not-found>
											</md-autocomplete>
										</div>
									</div>
									<div style="margin:auto;width:75%;position:relative">
										<md-button ng-click="showUserMessages(receiver.user)" class="md-primary" style="float:right;background-color:#f5f5f5;">GO</md-button>
									</div>	
						</form>	  	
					</div>			
	  				<div id="privateChat" style="display:none;height:100%" layout="column">
		  				<div id="privateChatScroll" flex style="overflow: scroll; overflow-x: hidden;">
				  			<md-list-item ng-repeat="message in privateMessagesChat()">
									     <md-list-item>
									     <a href="#/user/{{message.transmitter}}">
									     <img data-ng-src="{{getImage(findUserById(message.transmitter).image, findUserById(message.transmitter).imageType)}}"  class="md-avatar" alt="{{message.user.name}}" />
										      </a>
										      <div class="md-list-item-text">
										         <a style="color:blue">{{message.transmitterName}}</a>
										         <p>
										         	<div ng-bind-html="message.text | colonToSmiley"></div>
										         </p>
										         <div style="color:gray;position:absolute;right:0;top:0;bottom:0;margin:auto" class="md-caption">
										      	{{message.date | timeago}}
										      </div>
										       </div>
										       <md-divider ng-if="!$last"></md-divider>
									      </md-list-item>
							 </md-list-item>
						 </div>
<!-- 						 <form id="privatechatform" emoji-message="emojiMessage2" layout="row" autocomplete="off" ng-submit="replyMessage()" style="margin-bottom:0px;padding:5px;background-color:#f5f5f5"> -->
						 <form flex="1" id="privatechatform" emoji-form emoji-message="emojiMessage2" layout="row" autocomplete="off" ng-submit="replyMessage()" style="margin-bottom:0px;padding:5px;background-color:#f5f5f5">
									<md-button id="emojibtn" title="Send message" class="md-icon-button launch" >
							     		<md-icon>
										tag_faces
									</md-icon>
							     	</md-button>
							     	<textarea mentio mentio-typed-term='typedTerm' mentio-require-leading-space='true' id="inputPrivateChat" flex style="background:white" ng-model="replyText" placeholder="New message" ></textarea>
									<mentio-menu ng-if="index"
								          mentio-for="'inputPrivateChat'"
								          mentio-template-url="mentio-menu.tpl.html"
								          mentio-trigger-char="'@'"
								          mentio-items="people"
								          mentio-search="searchPeople(term)"
								          mentio-select="getPeopleText(item)"
								      ></mentio-menu>
									<md-button type="submit" title="Send message" class="md-icon-button launch" >
							     		<md-icon>
										send
									</md-icon>
							     	</md-button>												
						 </form>
					</div>
					
	  			</div>
  			</div>			  			
  		</div>
  		<div id="chat" layout="column" style="height:100%;position:relative;padding:0;">
			<div flex="1" style="position:relative">
			 			<div style="float:left;padding:1em">
			 				<h3 style="font-style:normal">Team chat</h3>
			 			</div>
			 			<div style="float:right">
							 	<input style="display:none" id="filtername" type="text" ng-model="nameFilter">
							 	<input style="display:none" id="filtercontent" type="text" ng-model="contentFilter">
							 	<md-datepicker style="display:none" id="filterdate" ng-model="dateFilter" md-placeholder="Enter date"></md-datepicker>
							 	<md-button ng-click="searchByFilter()" id="searchFilter" style="display:none">Search</md-button>		
							 	<md-button ng-click="resetFilter()" ng-show="chatFilter!=''">Reset</md-button>
		  						<md-menu>
							        <md-button class="md-icon-button" ng-click="$mdOpenMenu()">
							            <md-icon md-menu-origin>search</md-icon>
							        </md-button>
							        <md-menu-content width="1">
							            <md-menu-item>
							                <md-button ng-click="showFilterName()">Name</md-button>
							            </md-menu-item>
							            <md-menu-item>
							                <md-button ng-click="showFilterDate()">Date</md-button>
							            </md-menu-item>
							            <md-menu-item>
							                <md-button ng-click="showFilterContent()">Content</md-button>
							            </md-menu-item>
							        </md-menu-content>
							    </md-menu>
						</div>
				</div>
			    <div flex id="globalchatscroll" style="max-height: 75vh;  overflow: scroll; overflow-x: hidden;">
			    			<md-list-item ng-repeat="message in chatMessages() | filter:filterMessages" style="position:relative">
<!-- 				    	<md-list-item ng-repeat="message in chatMessages() | filter:filterMessages" style="position:relative" class="message_{{message.user}}"> -->
						     	<a href="#/user/{{message.user}}">
						     	<img data-ng-src="{{getImage(findUserById(message.user).image, findUserById(message.user).imageType)}}" class="md-avatar"/>
									<!-- Has to be fixed, fallback is always updated in ng-repeat -->
<!-- 							    <img ng-src="http://i.imgur.sdasdacom/HfLuszJ.jpg" onError="this.onerror=null;this.src='http://i.imgur.com/HfLuszJ.jpg';" class="md-avatar" alt="{{message.user.name}}" />      -->
							     </a>
							      <div class="md-list-item-text">
							        <a href="#/user/{{message.user}}" style="text-decoration:none">{{message.userName}}</a>
							         <p>		
							         	<span class="md-body-2">
							         	<div ng-bind-html="message.text | colonToSmiley"></div>
							         	</span>
							         </p>
							      </div>
							      <div style="color:gray;position:absolute;right:0;top:0;bottom:0;margin:auto" class="md-caption">
							      	{{message.date | timeago}}
							      </div>
							      <md-divider ng-if="!$last"></md-divider>
						</md-list-item>	
				</div>
			   		<form flex="1" id="chatform" emoji-form emoji-message="emojiMessage" layout="row" autocomplete="off" ng-submit="sendMessage()" style="margin-bottom:0px;padding:5px;background-color:#f5f5f5">
						<md-button id="emojibtn" title="Send message" class="md-icon-button launch" >
				     		<md-icon>
							tag_faces
						</md-icon>
				     	</md-button>
				     	<textarea mentio mentio-typed-term='typedTerm' mentio-require-leading-space='true' id="inputchat" flex style="background:white" ng-model="chatMessage" placeholder="New message" ></textarea>
						<mentio-menu ng-if="index"
					          mentio-for="'inputchat'"
					          mentio-template-url="mentio-menu.tpl.html"
					          mentio-trigger-char="'@'"
					          mentio-items="people"
					          mentio-search="searchPeople(term)"
					          mentio-select="getPeopleText(item)"
					      ></mentio-menu>
						<md-button type="submit" title="Send message" class="md-icon-button launch" >
				     		<md-icon>
							send
						</md-icon>
				     	</md-button>												
					</form>
  			</div>
  			<div id="membership" style="padding:1em;display:none;position:relative;background-color:white;" class="md-whiteframe-3dp">
  				Enable/disable notifications.<br/>
  				<md-button ng-click="notificationStatusChange()">
		        Notifications: {{ notificationStatus }}
		        </md-button>
  			</div>
</div>


<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="notifications" style="background-color:#e3f2fd;width:50vh">
      <div style="position:relative;padding:1em;background-color:#737373;">
        <h2 style="color:white">Notifications</h2>
         <md-button style="position:absolute;right:0.2em;top:0.2em"ng-click="close('notifications')" class="md-icon-button launch">
          <md-icon style="color:white">
          	forward
          </md-icon>
        </md-button>
      </div>
      <md-tabs class="md-primary">
      <md-tab id="tab1">
        <md-tab-label>Invites</md-tab-label>
        <md-tab-body>
 			<div style="padding:1em;max-height: 40em; overflow-y:auto; overflow-x: hidden;">
 					<div ng-show="roomInvitations().length==0" style="text-align:center;padding:1em;background-color:white" class="md-whiteframe-z2">
 						You have no invitations
 					</div>
					<md-table-container ng-hide="roomInvitations().length==0" style="background-color:white" class="md-whiteframe-z2">
					  <table md-table>
					    <thead md-head>
					      <th md-column>Room</th>
					      <th md-column>Member</th>
					      <th md-column>Accept</th>
					      <th md-column>Deny</th>
					    </thead>
					    <tbody md-body>
					      <tr md-row md-select="invitation" md-select-id="{{invitation.name}}" md-auto-select ng-repeat="invitation in roomInvitations()">
					        <td md-cell>{{findRoomById(invitation.room).name}}</td>
					        <td md-cell>{{findUserById(invitation.user).name}}</td>
					        <td md-cell>
					        	<md-button class="md-icon-button" ng-click="acceptRoomInvitation(invitation)" title="Accept request" aria-label="Accept">
	    							<md-icon style="color:green">check_circle</md-icon>
	    						</md-button>
					        </td>
					        <td md-cell>
					        	<md-button class="md-icon-button" ng-click="denyRoomInvitation(invitation)" title="Deny request" aria-label="Deny">
	     							<md-icon style="color:red">cancel</md-icon>
	     						</md-button>
	     					</td>
					      </tr>
					    </tbody>
					  </table>
					</md-table-container>
				</div>	
        </md-tab-body>
      </md-tab>
	  <md-tab id="tab2" data-ng-if="user.privileges>0 || participateUser.teamPrivileges>0">
	       <md-tab-label>Team</md-tab-label>
	       <md-tab-body>
	       	<div style="padding:1em;max-height: 40em; overflow-y:auto; overflow-x: hidden;">
	 			<div ng-show="requests().length==0" style="text-align:center;padding:1em;background-color:white" class="md-whiteframe-z2">
	 						There's no pending team requests
	 			</div>
		 		<md-table-container ng-hide="requests().length==0" style="background-color:white" class="md-whiteframe-z2">
					<table md-table>
						<thead md-head>
						      <th md-column>Member</th>
						      <th md-column>Accept</th>
						      <th md-column>Deny</th>
						    </thead>
						    <tbody md-body>
							      <tr md-row md-select="request" md-select-id="{{request.name}}" md-auto-select ng-repeat="request in requests()">
							        <td md-cell>{{findUserById(request.user).name}}</td>
							        <td md-cell>
							        	<md-button class="md-icon-button" ng-click="acceptRequest(request)" title="Accept request" aria-label="Accept">
				    						<md-icon style="color:green">check_circle</md-icon>
				    					</md-button>
							        </td>
							        <td md-cell>
							        	<md-button class="md-icon-button" ng-click="denyRequest(request)" title="Deny request" aria-label="Deny">
				     						<md-icon style="color:red">cancel</md-icon>
				     					</md-button>
				     				</td>
							      </tr>
						    </tbody>
						  </table>
						</md-table-container>
					</div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab3">
        <md-tab-label>Rooms</md-tab-label>
        <md-tab-body>        
				<div style="padding:1em;max-height: 40em; overflow-y:auto; overflow-x: hidden;">
					<div ng-show="roomRequests().length==0" style="text-align:center;padding:1em;background-color:white" class="md-whiteframe-z2">
 						You have no pending room requests
 					</div>
					<md-table-container ng-hide="roomRequests().length==0" style="background-color:white" class="md-whiteframe-z2">
					  <table md-table>
					    <thead md-head>
					      <th md-column>Room</th>
					      <th md-column>Member</th>
					      <th md-column>Accept</th>
					      <th md-column>Deny</th>
					    </thead>
					    <tbody md-body>
						      <tr md-row md-select="request" md-select-id="{{request.name}}" md-auto-select ng-repeat="request in roomRequests()">
						        <td md-cell>{{findRoomById(request.room).name}}</td>
						        <td md-cell>{{findUserById(request.user).name}}</td>
						        <td md-cell>
						        	<md-button class="md-icon-button" ng-click="acceptRoomRequest(request)" title="Accept request" aria-label="Accept">
		    							<md-icon style="color:green">check_circle</md-icon>
		    						</md-button>
						        </td>
						        <td md-cell>
						        	<md-button class="md-icon-button" ng-click="denyRoomRequest(request)" title="Deny request" aria-label="Deny">
		     							<md-icon style="color:red">cancel</md-icon>
		     						</md-button>
		     					</td>
						      </tr>
					    </tbody>
					  </table>
					</md-table-container>
				</div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
    </md-sidenav>
     
     <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="mentions" style="background-color:#e3f2fd;">
      <div style="position:relative;padding:1em;background-color:#737373;">
        <h2 style="color:white">Mentions</h2>
         <md-button style="position:absolute;right:0.2em;top:0.2em"ng-click="close('mentions')" class="md-icon-button launch">
          <md-icon style="color:white">
          	forward
          </md-icon>
        </md-button>
      </div>
      <md-content>
      <div style="padding:1em;background-color:#e3f2fd;">
	      	<div ng-show="(chatMessages() | filter:mentionsFilter).length==0" style="text-align:center;padding:1em;background-color:white" class="md-whiteframe-z2">
 						Nobody mentioned you for now
 			</div>
	      	<div style="background-color:white;max-height: 45em; overflow-y:auto; overflow-x: hidden;" class="md-whiteframe-z2">
		 		<md-list-item ng-repeat="mention in chatMessages() | filter:mentionsFilter">
		    			<p> {{mention.userName}} </p>
		    			<p>{{mention.text}}</p>
		    			 <md-divider ng-if="!$last"></md-divider>
		 		</md-list-item>
	 		</div>
 		</div>
      </md-content>
    </md-sidenav>

</div>
<div ng-hide="member">
	You don't participate in this team.
</div>
<!-- Modals -->
<!--Invite people-->
<div id="inviteModal">
	<div style="width:100%;text-align: center;"> 
		 <md-button style="background-color:white"class="md-fab close-inviteModal" aria-label="Close">
            <md-icon style="color: #39BEB9;">close</md-icon>
       	 </md-button>
	</div>
	<div class="modal-content">
		Invite people!
		<div>
			<md-input-container>
				<md-icon>email</md-icon>
				<input ng-model="email" type="email" placeholder="Email">
			</md-input-container>
			<md-button class="md-primary" ng-click="sendInvitation(email)">
				Enviar
			</md-button>
		</div>
		<div>
			<form ng-submit="sendInvitationUser(name)">
				<md-input-container>
					<md-icon>person</md-icon>
					<input ng-model="name" type="text" placeholder="Username">
				</md-input-container>
				<md-button class="md-primary" type="submit">
					Enviar
				</md-button>
			</form>
		</div>
	</div>
</div>