<md-toolbar>
      <div class="md-toolbar-tools greybackground">
        <md-button id="homeButton" class="md-icon-button" aria-label="Settings">
          <md-icon aria-label="Home">home</md-icon>	
        </md-button>
        <h2>
          <span>Perseus</span>
        </h2>
        <span flex></span>
        <md-button>Support</md-button>
        <md-button ng-hide="user.name" ng-click="login($event)">Login</md-button>
        <md-button ng-show="user.name" ng-click="logout()" class="md-icon-button" aria-label="Power_settings_new">
          <md-icon>power_settings_new</md-icon>
        </md-button>
      </div>
</md-toolbar>
<div ng-hide="user.id" layout="row" layout-align="center center" layout-margin>
<div class="md-whiteframe-z2 window whitebackground" id="registrationpanel">
	<div align="center"><h1>Registration</h1></div>
	<form role="form" ng-submit="register(newUser)" accept-charset="UTF-8">
		<div align="center">
			<p>Insert your user credentials in the forms below.<br/> Important: you need to use a valid email to confirm your account.</p>
		</div>
		<md-input-container class="md-icon-float md-block">
		    <label>Name</label>
		    <md-icon aria-label="Name" class="blue">person</md-icon>
		    <input ng-model="newUser.name" id="nameField">
		</md-input-container>
		<div layout="row">
		<md-input-container class="md-icon-float md-block">
		    <label>Password</label>
		    <md-icon aria-label="Password" class="blue">vpn_key</md-icon>
		    <input type="password" ng-model="newUser.password" id="passwordField">
		</md-input-container>
		<md-input-container class="md-icon-float md-block">
		    <label>Password confirmation</label>
		    <md-icon aria-label="Password confirmation" class="blue">vpn_key</md-icon>
		    <input type="password" ng-model="password2" id="passwordField2">
		</md-input-container>
		</div>
		<md-input-container class="md-icon-float md-block">
		    <label>Email</label>
		    <md-icon aria-label="Email" class="blue">email</md-icon>
		    <input type="email" ng-model="newUser.email" id="emailField">
		</md-input-container>
		<md-button class="md-raised md-primary" type="submit" id="registerButton">Register</md-button>
	</form>
	</div>
</div>
<div ng-show="user.id" class="md-whiteframe-z2 window whitebackground" id="errorsigned">
	You've already signed in
</div>