<md-dialog aria-label="List dialog" ng-cloak flex="50">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<span flex>
				<h2>Delete account</h2>
			</span>
			<md-button class="md-icon-button" ng-click="closeDialog()">
				<md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			Are you sure you want to delete	your account?
		</div>
		<md-dialog-actions>
			<md-button style="background-color:red" ng-click="deleteAccount()">
				Delete
			</md-button>
			<md-button ng-click="closeDialog()" class="md-primary">
				Cancel
			</md-button>
		</md-dialog-actions>
	</md-dialog-content>		
</md-dialog>