<button class="btn btn--xl btn--red btn--fab mdi mdi-exit-to-app"  ng-click="exit()" title="Go to main page" style="position:absolute;z-index:1; right:40px;top:16px;"></button>	
<div class="join card" id="centraldiv" style="margin-top:50px">
<h1 ng-bind="userProfile.name"></h1>

		<div>
			Name: {{userProfile.name}}
			<span ng-show="userProfile.id==user.id">
				<a href="" ng-click="showInput('name')">
					<i class="icon icon--s icon--green icon--flat mdi mdi-pencil"></i>
				</a>
				<input type="text" ng-model="userProfile.name" ng-show="editName==1">
			</span>
		</div>
		<div>
		    Email: {{userProfile.email}}
		    <span ng-show="userProfile.id==user.id">
			    <a href="" ng-click="showInput('email')">
					<i class="icon icon--s icon--green icon--flat mdi mdi-pencil"></i>
				</a>
			    <input type="text" ng-model="userProfile.email" ng-show="editEmail==1">
		    </span>
		</div>
		<p>
			Privileges: <span ng-show="userProfile.privileges>0">Yes</span><span ng-hide="userProfile.privileges>0">No</span>
		</p>	    
		<input ng-click="updateUser(userProfile)" class="btn btn--m btn--green btn--raised" style="float:left" ng-show="editName==1||editEmail==1" value="Confirm changes"/>
   		 <button class="btn btn--m btn--red btn--raised" style="float:right" ng-click="opendDialog('deleteAccount')" lx-ripple>Delete account</button>
   
    <lx-dialog class="dialog dialog--l" id="deleteAccount" auto-close="true" onclose="closingDialog()" onscrollend="scrollEndDialog()">	
		<div class="card bgc-red-500 tc-white-1 p">
			<b>Delete account</b>			
		</div>
		<form ng-submit="deleteAccount()">
		   	<div class="p++">
				Are you sure you want to delete your account permanently?
				<div class="dialog__actions">
					<button class="btn btn--m btn--blue btn--raised" lx-ripple lx-dialog-close>Cancel</button>
      				<button type="submit" class="btn btn--m btn--red btn--raised" lx-ripple lx-dialog-close>Delete</button>
				</div>
			</div>		
		</form>
	</lx-dialog>
</div>
