<md-toolbar style="background-color:#737373">
      <div class="md-toolbar-tools">
          <md-button class="md-icon-button" id="homeButton" aria-label="Settings">
          <md-icon aria-label="Home">home</md-icon>	
        </md-button>
        <h2>
          <span>Perseus</span>
        </h2>
        <span flex></span>	
        <md-button>Support</md-button>
        <md-button ng-hide="user.name" ng-click="login($event)">Login</md-button>
        <md-button ng-show="user.name" ng-click="logout()" class="md-icon-button" aria-label="Power_settings_new">
          <md-icon>power_settings_new</md-icon>
        </md-button>
      </div>
</md-toolbar>
	<div layout-margin layout="row" class="md-whiteframe-z2 window" style="padding:1em;background-color:#e6f2ff">		
		<div flex="2" md-card style="background-color:white;border-style:solid;margin-right:1em;border-width:1px;border-color:lightgray">
			 <img data-ng-src="{{getImage(userProfile.image)}}" style="max-width:100%;max-height:100%;" alt="{{user.name}}"/> 
				<div style="text-align:center;">
					<h1 class="md-title" style="margin:0"><b>{{userProfile.name}}</b></h1>
				</div>
				<p style="padding-left:0.5em"ng-show="userProfile.privileges>0">
						Administrator <md-icon style="color:yellow">star</md-icon>
				</p>
		</div>
		<div flex style="background-color:white;border-style:solid;border-width:1px;border-color:lightgray;position:relative;padding:1em;">
				<div layout="row" style="padding-bottom:2em">
					<div flex>
						<p>Name: {{userProfile.name}}</p>
						<p>Email: {{userProfile.email}}</p>
					</div>
					<div flex>
					    <md-button style="float:right"class="md-raised md-primary" id="editProfileLaunchButton" ng-show="userProfile.id==user.id || user.privileges>0">Edit profile</md-button>
				<md-button style="float:right;display:none"class="md-raised md-primary" id="editProfilePhotoLaunchButton">Edit profile photo</md-button>
					</div>
				</div>
				<div id="editProfile" style="display:none">
					<md-divider></md-divider>
					<div id="userCredentials">
						<div layout="row">
							<div flex>
								<md-input-container class="md-icon-float md-block">
										<label>Name</label>
										<md-icon aria-label="Name" style="color: blue;">person</md-icon>
										<input type="text" ng-model="userProfile.name">
								</md-input-container>
								<md-input-container class="md-icon-float md-block">
										<label>Email</label>
										<md-icon aria-label="Email" style="color: blue;">email</md-icon>
										<input type="text" ng-model="userProfile.email">
								</md-input-container>
							</div>
						
							<div flex>				
								<md-input-container class="md-icon-float md-block">
										<label>Current password</label>
										<md-icon aria-label="New password" style="color: blue;">vpn_key</md-icon>
										<input type="password" ng-model="currentPassword">
								</md-input-container>
								<md-input-container class="md-icon-float md-block">
										<label>New password</label>
										<md-icon aria-label="New password" style="color: blue;">vpn_key</md-icon>
										<input type="password" ng-model="password1">
								</md-input-container>
								<md-input-container class="md-icon-float md-block">
										<label>New password confirmation</label>
										<md-icon aria-label="New password" style="color: blue;">vpn_key</md-icon>
										<input type="password" ng-model="password2">
								</md-input-container>
							</div>
							</div>	  
							<div>
								<md-button ng-click="updateUser(userProfile)" class="md-primary md-raised">
									Confirm changes
								</md-button>
								<md-button ng-click="deleteAccount($event)" class="md-primary md-raised" style="float:right;background-color:red">
									Delete account
								</md-button>
							</div>  
						</div>
					<div id="editProfilePhoto" style="display:none" layout="row">
						<div flex style="margin-right:2em;position:relative">
							Select a image from your computer
	      					<input type="file" id="fileInput" ng-model="userImage" name="file" accept="image/*">
							<div class="cropArea" style="background: #E4E4E4;overflow: hidden;width:100%;height:25em">
								<img-crop image="myImage" result-image="myCroppedImage"></img-crop>
							</div>
						</div>
  						<div flex style="padding:2em">
  							<span ng-show="myImage">
	  							Cropped Image
	  							<div><img ng-src="{{myCroppedImage}}" /></div>
	  							<md-button ng-click="changeProfileImage(myCroppedImage)" class="md-primary md-raised">Change image</md-button>
  							</span>
  						</div>
					</div>
					</div>
		   
		</div>
</div>