<div layout="row" style="height:100%">
	<div id="main-video" style="display:none"></div>
	<md-content-flex flex="20" style="position:relative;background-color:gray">
		<p>{{roomName}}</p>
		<md-button ng-click="inviteToRoom($event)" ng-show="room().privateRoom==1 && memberUser().roomPrivileges>0" style="background-color:greenyellow">
		             Invite people to the room
		</md-button>
		<md-button ng-click="leavePrivateRoom($event)" ng-show="room().privateRoom==1 && memberUser().roomPrivileges<2" style="background-color:blue">
		       Exit the room
		</md-button>
		<div>Members:</div>
		<md list-item ng-show="room().privateRoom==0">
		</md>
		<md-list-item ng-show="room().privateRoom==1" ng-repeat="member in members()">
	    			<p> {{findUserById(member.user).name}}</p>
	    			<span ng-show="member.user!=creator">
	    				<md-button ng-show="memberUser().roomPrivileges>1 && member.user!=user.id" class="md-icon-button" ng-click="kickUser(member)" title="Kick user" aria-label="Kick">
		    				<md-icon>cancel</md-icon>
		    			</md-button>
		    			<span ng-show="user.id==creator && member.user!=user.id">
			    			<md-button ng-show="member.roomPrivileges==1" class="md-icon-button" ng-click="removeModerator(member)" title="Set moderator" aria-label="Add">
								<md-icon>star</md-icon>
							</md-button>
							<md-button ng-show="member.roomPrivileges==0" class="md-icon-button" ng-click="setModerator(member)" title="Remove moderator" aria-label="Remove">
								<md-icon>star_border</md-icon>
							</md-button>	
						</span>		
	    			</span>
	 		</md-list-item>
	</md-content-flex>
	<div flex>
		<div id="top">
 			<div id="participants"> 
			         	   	
			</div> 
			<div class="mb" align="center" style="margin: 1em; padding-bottom: 5px" id="buttonActions"> 
				<md-button ng-click="onOffVolume()" class="md-fab md-primary md-hue-1" aria-label="Volume_up" id="buttonVolume" title="Audio toggle">
           			 <md-icon>volume_up</md-icon>
       			 </md-button>
       			 <md-button ng-click="onOffVideocam()" class="md-fab md-primary md-hue-1" aria-label="Mute_video"  id="buttonVideocam" title="Video toggle">
           			 <md-icon>videocam_off</md-icon>
       			 </md-button>
       			 <md-button ng-click="leaveRoom()" class="md-fab md-primary md-hue-1" aria-label="End_call" id="buttonLeaveRoom" title="Leave room">
           			 <md-icon>call_end</md-icon>
       			 </md-button>
       			 <md-button ng-click="goFullscreen()" class="md-fab md-primary md-hue-1" aria-label="Mute_video" title="Fullscreen">
           			 <md-icon>fullscreen</md-icon>
       			 </md-button>
	        </div>
		</div>
		<div class="toggler" style="border-top-style:solid" >
			<div id="effect">
			     head
			 	<div>
			 		<strong>Team chat</strong>
			 	</div>
			    <div id="chatscroll" style="height: 15em;  overflow: scroll; overflow-x: hidden;">
			    	<md-list-item ng-repeat="message in chatMessages | filter:{ team: team.id, room: roomId }">
					     <md-list-item class="md-2-line">
						      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Ski_trail_rating_symbol-blue_square.svg/600px-Ski_trail_rating_symbol-blue_square.svg.png" class="md-avatar" alt="{{todos[0].who}}" />
<!-- 						      <ng-letter-avatar data="{{findUserById(message.user).name}}" shape="round"></ng-letter-avatar> -->
						      <div class="md-list-item-text">
						         <h3>{{findUserById(message.user).name}}</h3>
						         <p>{{message.text}}</p>
						         <p>{{message.date}}</p>
						       </div>
					      </md-list-item>
					  </md-list-item>			
			    </div>
			     <div class="md-block">
			          		<form ng-submit="sendMessage()">
				                <md-input-container md-no-float>
						        	<input ng-model="chatMessage" placeholder="New message" required>
						        </md-input-container>
								<md-button type="submit" class="md-primary">
							  		Send
								</md-button>
							</form>
			     </div>
			        
    			</div>
  			</div>
		
	</div>
</div>