<div flex-container="row">
	<div flex-item="2" style="border-right-style:solid" class="bgc-black-4">
		<span ng-bind="userName"></span>
	</div>
	<div flex-item flex-container="column">
		<div id="participants">
		         	   <!--small videos-->
		</div>
		
		<div class="toggler" style="border-top-style:solid">
		        <div id="effect">
					            <div>
					                <strong>Team chat</strong>
					            </div>
					
					            <div style="height: 30em;  overflow: scroll;">
					                <ul class="list">
										<li ng-repeat="message in chatMessages | filter:{ team: team.id, room: roomName }" class="list-row list-row--has-primary list-row--has-separator mt+" >
												<div class="bgc-blue-500" style="padding:5px;border-radius: 10px;">
													<p>{{message.user}}:</p>
													<strong>{{message.text}}</strong>
												</div>											
										</li>					
					                </ul>
					            </div>					
					            <div>
					                <form>
					                    <lx-text-field label="Message">
					                        <input id="inputMessage" type="text" ng-model="chatMessage">
					                    </lx-text-field>
					                    <button type="submit" class="btn btn--m btn--green btn--raised" lx-ripple ng-click="sendMessage()">Send</button>
					                </form>
					            </div>
					        </div>
			</div>
	</div>
</div>