<md-toolbar style="background-color:#737373">
      <div class="md-toolbar-tools">
        <md-button ng-click="exit()"class="md-icon-button" aria-label="Settings">
          <md-icon aria-label="Home">home</md-icon>	
        </md-button>
        <h2>
          <span>Perseus</span>
        </h2>
        <span flex></span>
        <md-button>Support</md-button>
        <md-button ng-hide="user.name" ng-click="login($event)">Login</md-button>
        <md-button ng-show="user.name" ng-click="logout()" class="md-icon-button" aria-label="Power_settings_new">
          <md-icon>power_settings_new</md-icon>
        </md-button>
      </div>
</md-toolbar>
<div data-ng-init="init()" style="position:relative">
<div ng-show="user.name" style="padding:2em;">
	<div id="mainPage" layout="row" style="margin:1vh;margin-left:10vh;margin-right:10vh" class="window">
		<div layout="column" flex="15" style="padding:0;height:auto;background-color:#e6f2ff" class="md-whiteframe-z2">
				<div style="text-align:center;padding:2vh;">
					<img data-ng-src="{{getImage(user.image, user.imageType)}}" style="border-radius:15px;max-width:100%;max-height:100%;" alt="{{user.name}}"/> 
					<h1 class="md-title" style="margin:0"><b>{{user.name}}</b></h1>
				</div>
				<div style="border-bottom-style:solid;border-radius:0;border-bottom-width:1px;border-top-style:solid;border-top-width:1px">
					<a ng-href="#/user/{{user.id}}"> 
						<md-button style="margin:0;width:100%" class="md-raised md-primary">
				        	My profile
				        </md-button>
			 		</a>
		 		</div>
		 		<div style="border-bottom-style:solid;border-bottom-width:1px" >
					<md-button ng-click="joinTeam($event)" class="md-raised md-primary" style="margin:0;width:100%">
		           		Join a team
					</md-button>
				</div>
				<div style="border-bottom-style:solid;border-bottom-width:1px">
					<md-button ng-click="newTeam($event)" class="md-raised md-primary" style="margin:0;width:100%">
		           		 New team
		        	</md-button>
				</div>
				<div ng-show="user.privileges>0">
					<a ng-href="#/admin">
						<md-button class="md-raised md-primary" style="margin:0;width:100%">
			       	    	Administration
			       		</md-button>
					</a>
				</div>
		</div>
		<div flex style="max-height: 80vh;  overflow-y: auto; overflow-x: hidden;border-right-width:1px;border-right-style:solid;text-align:center;padding:0;background-color:#e6f2ff" class="md-whiteframe-z2">
						<md-subheader class="md-no-sticky" style="background-color:#737373;color:white;border-bottom-style:solid;border-bottom-width:1px">
							Your teams
						</md-subheader>
						<div ng-show="(teams | filter:{ user: user.id }).length==0" style="padding:2vh;background-color:white">You are not member of any team</div>
						<md-list-item style="background-color:white" ng-repeat="team in teams | filter:{ user: user.id }" ng-click="redirectTeam(team.team)">
						        <img data-ng-src="{{getImage(findTeamById(team.team).image, findTeamById(team.team).imageType)}}" class="md-avatar" style="border-radius:0;margin-left:2vh"/> 
						        <a ng-bind="findTeamById(team.team).name" style="margin-left:5vh;text-decoration:none">{{ team.teamName }}</a>
						        <md-divider ng-if="!$last"></md-divider>
					     </md-list-item>
			  
		</div>
		<div flex style="max-height: 80vh;overflow-y: auto; overflow-x: hidden;text-align:center;background-color:#e6f2ff"  class="md-whiteframe-z2">
				<md-subheader class="md-no-sticky" style="background-color:#737373;color:white;border-bottom-style:solid;border-bottom-width:1px">
						Your invitations
				</md-subheader>
				<div ng-show="(teamInvites | filter:{ user: user.id }).length==0" style="padding:2vh;background-color:white">You have no team invitations</div>
				<md-table-container style="background-color:white" ng-hide="(teamInvites | filter:{ user: user.id }).length==0">
					  <table md-table>
					    <thead md-head>
					      <th md-column>Team</th>
					      <th md-column>Accept</th>
					      <th md-column>Deny</th>
					    </thead>
					    <tbody md-body>
						      <tr md-row md-select="request" md-select-id="{{invite.team}}" md-auto-select ng-repeat="invite in teamInvites | filter:{ user: user.id }">
						        <td md-cell>{{findTeamById(invite.team).name}}</td>
						        <td md-cell>
						        	<md-button class="md-icon-button" ng-click="acceptInvitation(invite)" title="Accept invitation" aria-label="Accept">
		    							<md-icon style="color:green">check_circle</md-icon>
		    						</md-button>
						        </td>
						        <td md-cell>
						        	<md-button class="md-icon-button" ng-click="denyInvitation(invite)" title="Deny invitation" aria-label="Deny">
		     							<md-icon style="color:red">cancel</md-icon>
		     						</md-button>
		     					</td>
						      </tr>
					    </tbody>
					  </table>
					</md-table-container>
				
				
				
				
				
			  </div>
		</div>
	</div>
	<div class="sections">
	<!-- Our super awesome changing header! -->
	  <nav class="fixed" style="z-index:50">
	    <div class="midnightHeader default">
	      <div class="logo-holder">
	        <a class="logo"><span class="screenreader"></span></a>
	      </div>
	    </div>
	  </nav>
	
	
	  <div class="top-links" data-midnight="white">
	    <a class="button" href="" download>Download</a>
	    <a class="button button-github" href="https://github.com/sergiobanegas/perseus" target="_blank">Fork on GitHub</a>
	  </div>
	
	
	  <div class="first-background" data-midnight="white">
	    <!-- Hi! -->
	  </div>
	
	
	  <header data-midnight="black">
	
	    <div class="container">
	
	      <h1 class="wow fadeInUp">Perseus let you communicate with your teammates in an easy way</h1>
	      <p class="wow fadeInUp">Scroll to see what we offer you!</p>
	
	      <div class="scroll-prompt wow fadeInUp"></div>
	
	      <figure id="space-island">
	        <img class="wow fadeInUp" src="assets/css/images/team_icon.png" />
	      </figure>
	    </div>
	
	  </header>
	
	
	  <section class="step step-one" data-midnight="blue">
		
	    <div class="container">
	      <div class="instructions wow fadeInLeft" style="padding:1em;color:black;border-radius: 6px;background: rgba(223, 220, 122, 0.5);">
	        <h2 style="color:blue">The teams</h2>
	        <p>Create your own team or join to an existing one to start using Perseus.</p>
	        <p>You can be member of <em>as many teams as you want</em>.</p>
	        <p>In order to enter a team, select it from the list of the teams you are member of in the main page.</p>
	      </div>
	
	      <pre class="line-numbers wow fadeInRight">
	      <p>Hello</p>
<!-- 	      <code class="language-markup">&lt;!-- Your Fixed Nav --&gt; -->
<!-- 	&lt;nav class="fixed"&gt; -->
<!-- 	  &lt;a class="logo"&gt;Logo&lt;/a&gt; -->
<!-- 	&lt;/nav&gt;</code> -->
		</pre>
	    </div>
	
	  </section>
	
	
	  <section class="step step-two" data-midnight="light">
	
	    <div class="container">
	      <div class="instructions wow fadeInLeft" style="padding:1em;color:black;border-radius: 6px;background: rgba(223, 220, 122, 0.5);">
	        <h2 style="color:blue">The chat</h2>
	        <p>Each team have a <em>public chat</em> , which is visible for all the members of the team.</p>
	        <p>If you want to communicate with a teammate directly you can do it thanks to our <em>private chat</em> system. The messages are only visible for the member of the team you are messaging to.</p>
	      	<p></p>
	      </div>
	
	      <pre class="line-numbers wow fadeInRight">
	      	Chat screenshot 
	      </pre>
	    </div>
	
	  </section>
	
	
	  <section class="step step-three" data-midnight="dark">
	
	    <div class="container">
	      <div class="instructions wow fadeInLeft" style="padding:1em;color:black;border-radius: 6px;background: rgba(223, 220, 122, 0.5);">
	        <h2 style="color:blue">Chat functionality</h2>
	        <h3>Emoticons</h3>
	        <p>You can send all the <em>emoticons</em> you usually use in the popular instant messaging apps.</p>
	        <h3>Mentions</h3>
	        <p>You can use <em>mentions</em> to notify your partners, typing '<em>@</em>' and selecting the member you want to mention, or directly typing his name.</p>
	      </div>
	
	      <pre class="line-numbers wow fadeInRight">
	      	Mentions y emoticons.
	      </pre>
	    </div>
	
	  </section>
	
	
	
	  <section class="step step-four" data-midnight="lighter">
	
	    <div class="container">
	      <div class="instructions wow fadeInLeft" style="padding:1em;color:black;border-radius: 6px;background: rgba(223, 220, 122, 0.5);">
	        <h2 style="color:blue">The permissions system</h2>
	        <p>To manage your team, we offer you an <em>administration panel</em>, where you can change the team credentials, give permissions and kick out members of the team.</p>
	      	<p>If you want to have a partner to help you managing the team, you can give moderator permissions, allowing the user to enter and delete all the rooms.</p>
	      </div>
	
	      <pre class="line-numbers wow fadeInRight">
	      	Permissions system
	      </pre>
	    </div>
	
	  </section>
	
	
	  <section class="step step-five full-height" data-midnight="white">
	
	    <div class="container">
	
	      <div class="instructions wow fadeInLeft" style="padding:1em;color:black;border-radius: 6px;background: rgba(223, 220, 122, 0.9);">
	        <h2 style="color:blue">Rooms</h2>
	        <p>The most important functionality in our application: <em>the rooms</em>.</p>
	        <p>The rooms offer you a <em>video call</em> with your teammates, giving you a better experience to communicate with your team.</p>
	        <p>Beside this, there's a room chat, which offers you the same functionality as the chats mentioned above.</p>
	      </div>
	
	
	      <pre class="line-numbers wow fadeInRight">
	      	Room image
	      </pre>
	
	    </div>
	
	  </section>
	
	
	
	  <footer class="footer" data-midnight="full">
	
	
	    <div class="illustration-footer">
	    
	      <div class="container">
	        <div class="buttons wow fadeIn">
	          <a class="button" href="" download>Download</a>
	          <a class="button" href="https://github.com/sergiobanegas/perseus" target="_blank"><i class="icon-github"></i> Fork on GitHub</a>
	        </div>
	      </div>
	
	      <div class="signature">
	        <a href="https://www.linkedin.com/in/sergio-banegas-cortijo-684586105" target="_blank" class="signature-aerolab"><span class="screenreader">by Sergio Banegas</span></a>
	      </div>
	
	    </div>
	
	  </footer>
	  </div>
  </div>