<md-toolbar>
      <div class="md-toolbar-tools greybackground">
        <md-button class="md-icon-button" aria-label="Settings">
          <md-icon aria-label="Home">home</md-icon>	
        </md-button>
        <h2>
          <span>Perseus</span>
        </h2>
        <span flex></span>
        <md-button>Support</md-button>
        <md-button ng-hide="user.name" ng-click="login($event)">Login</md-button>
        <md-button ng-show="user.name" ng-click="logout()" class="md-icon-button" aria-label="Power_settings_new">
          <md-icon>power_settings_new</md-icon>
        </md-button>
      </div>
</md-toolbar>
<div data-ng-init="init()" class="relative">
	      <md-fab-speed-dial ng-cloak md-open="false" md-direction="down"
	                     class="absolute md-scale" hide-gt-xs>
	        <md-fab-trigger>
	          <md-button aria-label="menu" class="md-fab md-primary">
	            <md-icon>menu</md-icon>
	          </md-button>
	        </md-fab-trigger>
	        <md-fab-actions>
	      	  <a ng-href="#/user/{{user.id}}">
		          <md-button aria-label="Profile" class="md-fab md-raised md-mini">
		            <md-icon>person</md-icon>
		          </md-button>
		      </a>
	          <md-button ng-click="joinTeam($event)" aria-label="Join a team" class="md-fab md-raised md-mini">
	            <md-icon>group</md-icon>
	          </md-button>
	          <md-button ng-click="newTeam($event)" aria-label="New team" class="md-fab md-raised md-mini">
	            <md-icon>group_add</md-icon>
	          </md-button>
	          <div ng-show="user.privileges>0">
			  		<a ng-href="#/admin">
			        	<md-button aria-label="Administration" class="md-fab md-raised md-mini">
			            <md-icon>star</md-icon>
			          </md-button>
			        </a>
	          </div>
	        </md-fab-actions>
	      </md-fab-speed-dial>
<div ng-show="user.name" layout-align="center center" layout-margin>
	<div id="mainPage" layout="row" class="window bluebackground md-whiteframe-z2">
		<div flex="20" hide-xs class="md-whiteframe-z2">
				<div align="center" class="imagecontainer">
					<img data-ng-src="{{getImage(user.image, user.imageType)}}" class="mainimage" alt="{user.name}}"/> 
					<h1 class="md-title nomargin"><b>{{user.name}}</b></h1>
				</div>
				<div class="indexmenubutton" id="firstindexmenubutton">
					<a ng-href="#/user/{{user.id}}"> 
						<md-button class="md-raised md-primary">
				        	My profile
				        </md-button>
			 		</a>
		 		</div>
		 		<div class="indexmenubutton">
					<md-button ng-click="joinTeam($event)" class="md-raised md-primary">
		           		Join a team
					</md-button>
				</div>
				<div class="indexmenubutton">
					<md-button ng-click="newTeam($event)" class="md-raised md-primary">
		           		 New team
		        	</md-button>
				</div>
				<div ng-show="user.privileges>0" class="indexmenubutton">
					<a ng-href="#/admin">
						<md-button class="md-raised md-primary">
			       	    	Administration
			       		</md-button>
					</a>
				</div>
		</div>
		<div flex class="indexlist" id="indexteamlist">
							<md-subheader class="md-no-sticky greybackground header">
								Your teams
							</md-subheader>
							<div ng-show="(teams | filter:{ userid: user.id }).length==0" class="whitebackground emptylist">You are not member of any team</div>
							<md-list-item class="whitebackground" ng-repeat="participate in teams | filter:{ userid: user.id }" ng-click="redirectTeam(participate.teamid)">
							        <img data-ng-src="{{getImage(participate.team.image, participate.team.imageType)}}" class="md-avatar squareavatar"/> 
							        <a ng-bind="participate.team.name"></a>
							        <md-divider ng-if="!$last"></md-divider>
						     </md-list-item>
				  
			</div>
			<div flex class="indexlist">
					<md-subheader class="md-no-sticky greybackground header">
							Your invitations
					</md-subheader>
					<div ng-show="(teamInvites | filter:{ userid: user.id }).length==0" class="whitebackground emptylist">You have no team invitations</div>
					<md-table-container class="whitebackground" ng-hide="(teamInvites | filter:{ userid: user.id }).length==0">
						  <table md-table>
						    <thead md-head>
						      <th md-column>Team</th>
						      <th md-column>Accept</th>
						      <th md-column>Deny</th>
						    </thead>
						    <tbody md-body>
							      <tr md-row md-select="request" md-select-id="{{invite.team}}" md-auto-select ng-repeat="invite in teamInvites | filter:{ userid: user.id }">
							        <td md-cell>{{invite.team.name}}</td>
							        <td md-cell>
							        	<md-button class="md-icon-button" ng-click="acceptInvitation(invite)" title="Accept invitation" aria-label="Accept">
			    							<md-icon class="green">check_circle</md-icon>
			    						</md-button>
							        </td>
							        <td md-cell>
							        	<md-button class="md-icon-button" ng-click="denyInvitation(invite)" title="Deny invitation" aria-label="Deny">
			     							<md-icon class="red">cancel</md-icon>
			     						</md-button>
			     					</td>
							      </tr>
						    </tbody>
					  </table>
				</md-table-container>
			 </div>
		</div>
	</div>
	<div class="sections">
	  <nav class="fixed">
	    <div class="midnightHeader default">
	      <div class="logo-holder">
	        <a class="logo"><span class="screenreader"></span></a>
	      </div>
	    </div>
	  </nav>
	  <div class="top-links" data-midnight="white">
	    <a class="button" href="" download>Download</a>
	    <a class="button button-github" href="https://github.com/sergiobanegas/perseus" target="_blank">Fork on GitHub</a>
	  </div>	
	  <div class="first-background" data-midnight="white">
	  </div>	
	  <header data-midnight="black">
	    <div class="container">
	      <h1 class="wow fadeInUp">Perseus let you communicate with your teammates in an easy way</h1>
	      <p class="wow fadeInUp">Scroll to see what we offer you!</p>
	      <div class="scroll-prompt wow fadeInUp"></div>
	      <figure id="space-island">
	        <img class="wow fadeInUp" src="assets/css/images/team_icon.png" />
	      </figure>
	    </div>
	  </header>
	  <section class="step step-one" data-midnight="blue">
	    <div class="container">
	      <div class="instructions wow fadeInLeft backgroundmidnight1">
	        <h2 class="blue">The teams</h2>
	        <p>Create your own team or join to an existing one to start using Perseus.</p>
	        <p>You can be member of <em>as many teams as you want</em>.</p>
	        <p>In order to enter a team, select it from the list of the teams you are member of in the main page.</p>
	      </div>
	      <div class="line-numbers wow fadeInRight" >
			<img src="./assets/css/images/teamImage.png">
		</div>
	    </div>
	  </section>
	  <section class="step step-two" data-midnight="light">
	    <div class="container">
	      <div class="instructions wow fadeInLeft backgroundmidnight1">
	        <h2 class="blue">The chat</h2>
	        <p>Each team have a <em>public chat</em> , which is visible for all the members of the team.</p>
	        <p>If you want to communicate with a teammate directly you can do it thanks to our <em>private chat</em> system. The messages are only visible for the member of the team you are messaging to.</p>
	      	<p></p>
	      </div>
	      <div class="line-numbers wow fadeInRight">
	      	<img src="./assets/css/images/privateChatImage.png">
	      </div>
	    </div>
	  </section>
	  <section class="step step-three" data-midnight="dark">
	    <div class="container">
	      <div class="instructions wow fadeInLeft backgroundmidnight1">
	        <h2 class="blue">Chat functionality</h2>
	        <h3>Emoticons</h3>
	        <p>You can send all the <em>emoticons</em> you usually use in the popular instant messaging apps.</p>
	        <h3>Mentions</h3>
	        <p>You can use <em>mentions</em> to notify your partners, typing '<em>@</em>' and selecting the member you want to mention, or directly typing his name.</p>
	      </div>
	      <div class="line-numbers wow fadeInRight">
	      	<img src="./assets/css/images/chatImage.png">
	      </div>
	    </div>
	  </section>
	  <section class="step step-four" data-midnight="lighter">
	    <div class="container">
	      <div class="instructions wow fadeInLeft backgroundmidnight1">
	        <h2 class="blue">The permissions system</h2>
	        <p>To manage your team, we offer you an <em>administration panel</em>, where you can change the team credentials, give permissions and kick out members of the team.</p>
	      	<p>If you want to have a partner to help you managing the team, you can give moderator permissions, allowing the user to enter and delete all the rooms.</p>
	      </div>
	      <div class="line-numbers wow fadeInRight">
	      	<img src="./assets/css/images/adminTeamImage.png">
	      </div>
	    </div>
	  </section>
	  <section class="step step-five full-height" data-midnight="white">
	    <div class="container">
	      <div class="instructions wow fadeInLeft backgroundmidnight2">
	        <h2 class="blue">Rooms</h2>
	        <p>The most important functionality in our application: <em>the rooms</em>.</p>
	        <p>The rooms offer you a <em>video call</em> with your teammates, giving you a better experience to communicate with your team.</p>
	        <p>Beside this, there's a room chat, which offers you the same functionality as the chats mentioned above.</p>
	      </div>
	      <pre class="line-numbers wow fadeInRight">
	      	Room image
	      </pre>
	    </div>
		</section>
		<footer class="footer" data-midnight="full">
		    <div class="illustration-footer">
		      	<div class="container">
		       		<div class="buttons wow fadeIn">
		          		<a class="button" href="" download>Download</a>
		          		<a class="button" href="https://github.com/sergiobanegas/perseus" target="_blank"><i class="icon-github"></i> Fork on GitHub</a>
		        	</div>
		      	</div>
		     	<div class="signature">
		     		<a href="https://www.linkedin.com/in/sergio-banegas-cortijo-684586105" target="_blank" class="signature-aerolab"><span class="screenreader">by Sergio Banegas</span></a>
		    	</div>
		    </div>
		</footer>
	</div>
</div>